[data-md-color-scheme="custom_scheme"] {
  --md-primary-fg-color:        #6e834c;
  --md-primary-fg-color--light: #6e834c;
  --md-primary-fg-color--dark:  #6e834c;
}

.md-typeset h1 {
  display: none;
}

@media screen and (min-width: 601px) {
  .md-typeset h2 {
    font-size: 2em;
    margin: 0;
  } 
  .md-typeset h3 {
    font-size: 1.4em;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .md-typeset h2 {
    font-size: 2em;
    margin: 0;
  } 

  .md-typeset h3 {
    font-size: 1.3em;
    margin: 0;
  }
}


.md-sidebar {
  width: 10.0rem;
}


.md-grid {
  max-width: 1200px;
}

.md-typeset p, ul {
  font-size: 1.0em;
}


.md-typeset code {
  font-size: 1.0em;
}


.md-social__link {
  width: 2.4rem;
}
.md-social__link svg {
  max-height: 1.1rem;
  max-width: 1.1rem;
}

