[data-md-color-scheme="custom_scheme"] {
  --md-primary-fg-color:        #6e834c;
  --md-primary-fg-color--light: #6e834c;
  --md-primary-fg-color--dark:  #6e834c;
}

/* Admoniton for resources */
.md-typeset :is(.abstract,.summary,.tldr)>:is(.admonition-title,summary) {
  border-color: rgba(84, 109, 120, 1.0); /*#00b0ff;*/
  background-color: rgba(84, 109, 120, 0.2);/*rgba(#546d78, 0.9);*/
}

.md-typeset :is(.admonition,details):is(.abstract,.summary,.tldr) {
  border-color: rgba(84, 109, 120, 0.6);
}

.md-ellipsis {
  font-weight: 600;
}


/* Headers */
.md-typeset h1 {
  /* display: none;*/
  text-align: center;
  color: #546d78;
  font-weight: 500;
}


@media screen and (min-width: 601px) {
  .md-typeset h2 {
    font-size: 1.6em;
    margin: 0;
  } 
  .md-typeset h3 {
    font-size: 1.3em;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .md-typeset h2 {
    font-size: 1.5em;
    margin: 0;
  } 

  .md-typeset h3 {
    font-size: 1.2em;
    margin: 0;
  }
}



/* Layout */
.md-sidebar { width: 10.0rem; }
@media screen and (max-width: 2000px) {
  .md-grid { max-width: 1200px; }
}
@media screen and (min-width: 2001px) {
  .md-grid { max-width: 1400px; }
}

/* Generic text and code */
.md-typeset a { color: #0a3b97; }
.md-typeset p, ul { font-size: 1.0em; }
.md-typeset code { font-size: 1.0em; }

/* Social link */
.md-social__link { width: 2.4rem; }
.md-social__link svg {
  max-height: 1.0rem;
  max-width: 1.0rem;
}

.md-nav__item {
  padding: 0 0 0.15rem 0.6rem;
}

.md-nav__item--active {
  font-size: 1.0em;
}
